@import url(../fonts/SF-Pro-Text-Regular.otf);
@import url(../fonts/SF-Pro-Text-Bold.otf);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'SF Pro Text', sans-serif;
    font-weight: normal;

    text-decoration: none;
    color: #EFF4EF !important;
}

.nav-menu {
    box-shadow: 2px 2px 7px #5f5e5e;
    background-color: #5fa8d3;
    z-index: 1;
    /* Conserta um bug que deixava as imagens dos ícones
                   passarem por cima do header por conta do "filter" */
}

.container-main {
    height: 100vh;
}

.container-text-h {
    height: 100vh;
}

.main {
    background-image: url(../images/pexels-scott-webb-136739.jpg);
    background-size: cover;
}

.borda-no-texto {
    text-shadow: 4px 1px 4px #000;
    /* Espaçamento interno para que a borda não toque diretamente no texto */
}

.problemas {
    background-color: #5FA8D3;

}

.ícones-problemas-img {
    width: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}



.solução {
    background-color: #62B6CB;
}

.imagem-h {
    height: 100vh;
}



.impactos {
    background-image: url(../images/pexels-luis-quintero-1587097.jpg);
}

.box {
    border: 4px solid #1B4965;
    border-radius: 12px;
    background-color: #5FA8D366;
    backdrop-filter: blur(8px);

}

.bg-color-box {
    background-color: #5FA8D366;
}

.box ul {
    list-style: square;
}

.estatísticas {
    background-color: #5fa8d3;
}



.estatística {
    margin: 0 10%;
    height: 33.33%;
    display: flex;
    justify-content: space-around;
}


.integrantes {
    background-color: #62b6cb;
    display: flex;
    flex-direction: column;

}

.integrante {
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: space-between;

}

.integrante>img {
    width: 16vh;
}

.integrante:nth-child(odd) {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.svg-icons {
    min-height: 70px;
    height: 3.5vw;

}
.estatísticas-justify-evenly{
    justify-content: space-evenly;
}

.footer-config{
    height: 15vh;
    background-color: #192d39;
}