@import url(../fonts/SF-Pro-Text-Regular.otf);
@import url(../fonts/SF-Pro-Text-Bold.otf);

* {
    margin:0;
    padding:0;
    box-sizing: border-box;

    font-family: 'SF Pro Text', sans-serif;
    font-weight: normal;

    text-decoration: none;
    color: #EFF4EF;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 6em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.dobra {
    width: 100%;
    height: 100vh;
}



#home {
    background-image: url(../images/pexels-scott-webb-136739.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-shadow: -1px -1px 4px black, 1px 1px 4px black;
}

#problemas {
    background-color: #5FA8D3;
    text-align: center;
}

#problemas h2 {
    padding: 0 25px;
    margin-bottom: 5%;
}

#problemas > img {
    width: 100%;
    height: 35%; /* calculado pelos valores do protótipo */
    margin-bottom: 5%;
}

.ícones-problemas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10%;
}

.ícones-problemas img {
    width: 15%;
    margin: 0% 5% 2%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.ícones-problemas h3 {
    width: 25%;
}



#solução {
    background-color: #62B6CB;

    display: flex;
}

#solução img {
    width: 40%;
    object-fit: cover;
}

#solução p {
    font-size: 1.3vw;
    padding: 3% 5% 0;
}



#impactos {
    background-image: url(../images/pexels-luis-quintero-1587097.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border: 4px solid #1B4965;
    border-radius: 12px;
    background-color: #5FA8D366;
    padding: 2.5%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    font-size: 1.5vw;
}

.box ul+ol {
    list-style: square;
}

.ladoesq {
    padding-right: 5%;
    margin-right: 5%;
    border-right: 2px solid #1B496560;
}

.boxtexto {
    /* border-right: 2px solid #1B496560; */
    width: 50%;
}

.boxtexto > p {
    padding-bottom: 20px;
}



#estatísticas {
    display: flex;
}

.imglado {
    width: 35%;
    object-fit: cover;
}

.wrapper {
    width: 65%;
    padding-right: 10%;
    font-size: 1.5em;
    background-color: #5fa8d3;
    display: flex;
    flex-direction: column;
}

.estatística {
    margin: 0 10%;
    height: 33.33%;
    display: flex;
    justify-content: space-around;
}

.estatística img {
    width: 15%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.estatexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

.estatexto p:nth-child(odd) {
    font-size: 1.2vw;
}

.bottomsep {
    position: absolute;
    width: 100%;
    align-self: self-end;
}



#integrantes {
    background-color: #62b6cb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3% 3% 0;
    font-size: 2vw;
}

#integrantes h3 {
    align-self: center;
}

.integrante {
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: space-between;
}

.integrante > img {
    width: 16vh;
}

.integrante:nth-child(odd) {
    align-self: flex-end;
    flex-direction: row-reverse;
}